# MAKEVID

# UI
customtkinter>=5.2.0

# Deep Learning
torch>=2.4.0
torchvision>=0.19.0
transformers>=4.44.0
diffusers>=0.31.0
accelerate>=0.34.0
safetensors>=0.4.5

# Image
pillow>=10.4.0

# Utils
psutil>=6.0.0
numpy>=1.26.0
huggingface-hub>=0.25.0
sounddevice>=0.4.6
scipy>=1.11.0
edge-tts>=7.0.0
tksheet>=7.0.0

# Build (para gerar .exe)
pyinstaller>=6.0.0
tkinterdnd2
